# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Environment variables
.env
.env.local
.env.development
.env.production
*.env

# Data files
data/

# IDE
.idea/
.iml
*.iml
*.ipr
*.iws
.idea_modules/

# OS
.DS_Store